{% extends 'base.html' %}

{% block content %}
<h1>Statistics</h1>

<table>
    <thead>
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total books</td>
            <td>{{ total_books }}</td>
        </tr>
        <tr>
            <td>Total categories</td>
            <td>{{ total_genres }}</td>
        </tr>
        <tr>
            <td>Total authors</td>
            <td>{{ total_authors }}</td>
        </tr>
        <tr>
            <td>Registered users</td>
            <td>{{ total_users }}</td>
        </tr>
        <tr>
            <td>Most popular category</td>
            <td>{{ top_genre.name }} ({{ top_genre.book_count }} books)</td>
        </tr>
    </tbody>
</table>
{% endblock %}
